{% extends "plantiful/base.html" %}

{% block title %}Container {{ container.id }} {{ container.name }}{% endblock %}

{% block content %}
<h1>Container {{ container.id }}</h1>

<h2>Name</h2>

<p>{{ container.name }}</p>

<h2>Size</h2>

<p>{{ container.size }}</p>

<h2>Plants</h2>

<ul>
    {% for plant in container.plant_set.all %}
    <li><a href="{% url 'plant' plant.id %}">{{ plant.name }}</a></li>
    {% endfor %}
</ul>

<a href="{% url 'container_transplant' container.id %}">history</a></li>

<h2>Location</h2>

<p>{{ container.location }}</p>

<a href="{% url 'container_relocation' container.id %}">history</a></li>

<h2>Soil</h2>

<p>{{ container.soil_type }}</p>

<a href="{% url 'container_resoil' container.id %}">history</a></li>
{% endblock %}
