{% extends "plantiful/base.html" %}

{% block title %}Plant {{ plant.id }} Harvest{% endblock %}

{% block content %}
<h1>Plant {{ plant.id }} Harvest</h2>

<ul>
    {% for produce, harvests in plant_harvests.items %}
    <li>
        <p>{{ produce }}: {{ harvests|length }}</p>
        {% if harvests %}
        <ul>
            {% for harvest in harvests %}
            <li><a href="{% url 'harvest' harvest.id %}">{{ harvest.datetime }} {{ harvest.weight }} {{ harvest.unit_name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>


{% endblock %}
