{% extends "plantiful/base.html" %}

{% block title %}Plant {{ plant.id }} {{ plant.name }}{% endblock %}

{% block content %}
<h1>Plant {{ plant.id }}</h1>

<h2>Name</h2>

<p>{{ plant.name }}</p>

<h2>Timestamp</h2>

<p>{{ plant.datetime }}</p>

<h2>Species</h2>

<p><a href="{% url 'species' plant.species.id %}">{{ plant.species.common_name }} - {{ plant.species.latin_binomial }}</a></p>

{% if plant.supplier %}
<h2>Supplier</h2>

<p>{{ plant.supplier }}</p>
{% endif %}

{% if plant.source %}
<h2>Source</h2>

<p>{{ plant.source_name }}</p>
{% endif %}

{% if plant.parent %}
<h2>Parent</h2>

<p><a href="{% url 'plant' plant.parent.id %}">{{ plant.parent.name }}</a></p>
{% endif %}

{% if plant.container %}
<h2>Container</h2>

<p><a href="{% url 'container' plant.container.id %}">{{ plant.container.name }}</a></p>

<p><a href="{% url 'plant_transplant' plant.id %}">history</a></p>

<h3>Location</h3>

<p>{{ plant.container.location }}</p>

<p><a href="{% url 'plant_relocation' plant.id %}">history</a></p>

<h3>Soil</h3>

<p>{{ plant.container.soil_type }}</p>

<p><a href="{% url 'plant_resoil' plant.id %}">history</a></p>
{% endif %}

<form action="{% url 'new_observation' plant.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>Observe</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table class="formtable">
        <tr>
            <th class="formtableheader">
                <label for="observation_text">Text</label>
            </th>
            <td>
                <input type="text" name="observation_text" id="observation_text" />
            </td>
        </tr>
        <tr>
            <th class="formtableheader">
                <label for="observation_image">Image</label>
            </th>
            <td>
                <input type="image" name="observation_image" id="observation_image" />
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="Record">
            </th>
        </tr>
    </table>
{% if latest_observation_list %}
    <ul>
    {% for observation in latest_observation_list %}
        <li><a href="{% url 'observation' observation.id %}">{{ observation.datetime }} {{ observation.text }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <p><a href="{% url 'plant_observation' plant.id %}">history</a></p>
</fieldset>
</form>

<form action="{% url 'new_water' plant.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>Water</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table class="formtable">
        <tr>
            <th class="formtableheader">
                <label for="water_amount">Amount</label>
            </th>
            <td>
                <input type="integer" name="water_amount" id="water_amount" />
            </td>
        </tr>
        <tr>
            <th class="formtableheader">
                <label for="water_unit">Unit</label>
            </th>
            <td>
                <select name="water_unit" id="water_unit">
                {% for unit in units %}
                    <option value="{{ unit.0 }}" label="{{ unit.1 }}" {% if unit.1 == "Litre" %}selected{% endif %}>{{ unit.1 }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="Record">
            </th>
        </tr>
    </table>
{% if latest_water_list %}
    <ul>
    {% for water in latest_water_list %}
        <li><a href="{% url 'water' water.id %}">{{ water.datetime }} {{ water.amount }} {{ water.unit_name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <p><a href="{% url 'plant_water' plant.id %}">history</a></p>
</fieldset>
</form>

<form action="{% url 'new_fertilize' plant.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>Fertilize</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table class="formtable">
        <tr>
            <th class="formtableheader">
                <label for="fertilize_type">Type</label>
            </th>
            <td>
                <input type="text" name="fertilize_type" id="fertilize_type" />
            </td>
        </tr>
        <tr>
            <th class="formtableheader">
                <label for="fertilize_amount">Amount</label>
            </th>
            <td>
                <input type="integer" name="fertilize_amount" id="fertilize_amount" />
            </td>
        </tr>
        <tr>
            <th class="formtableheader">
                <label for="fertilize_unit">Unit</label>
            </th>
            <td>
                <select name="fertilize_unit" id="fertilize_unit">
                {% for unit in units %}
                    <option value="{{ unit.0 }}" label="{{ unit.1 }}" {% if unit.1 == "Kilogram" %}selected{% endif %}>{{ unit.1 }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="Record">
            </th>
        </tr>
    </table>
{% if latest_fertilize_list %}
    <ul>
    {% for fertilize in latest_fertilize_list %}
        <li><a href="{% url 'fertilize' fertilize.id %}">{{ fertilize.datetime }} {{ fertilize.type }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <p><a href="{% url 'plant_fertilize' plant.id %}">history</a></p>
</fieldset>
</form>

<form action="{% url 'new_mulch' plant.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>Mulch</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table class="formtable">
        <tr>
            <th class="formtableheader">
                <label for="mulch_type">Type</label>
            </th>
            <td>
                <input type="text" name="mulch_type" id="mulch_type" />
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="Record">
            </th>
        </tr>
    </table>
{% if latest_mulch_list %}
    <ul>
    {% for mulch in latest_mulch_list %}
        <li><a href="{% url 'mulch' mulch.id %}">{{ mulch.datetime }} {{ mulch.type }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <p><a href="{% url 'plant_mulch' plant.id %}">history</a></p>
</fieldset>
</form>

<form action="{% url 'new_harvest' plant.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>Harvest</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table class="formtable">
        <tr>
            <th class="formtableheader">
                <label for="produce_id">Produce</label>
            </th>
            <td>
                <select name="produce_id" id="produce_id">
                {% for produce in plant.species.produce_set.all %}
                    <option value="{{ produce.id }}" label="{{ produce.name }}">{{ produce.name }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th class="formtableheader">
                <label for="harvest_weight">Weight</label>
            </th>
            <td>
                <input type="integer" name="harvest_weight" id="harvest_weight" />
            </td>
        </tr>
        <tr>
            <th class="formtableheader">
                <label for="harvest_unit">Unit</label>
            </th>
            <td>
                <select name="harvest_unit" id="harvest_unit">
                {% for unit in units %}
                    <option value="{{ unit.0 }}" label="{{ unit.1 }}" {% if unit.1 == "Gram" %}selected{% endif %}>{{ unit.1 }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="Record">
            </th>
        </tr>
    </table>
{% if latest_harvest_list %}
    <ul>
    {% for harvest in latest_harvest_list %}
        <li><a href="{% url 'harvest' harvest.id %}">{{ harvest.datetime }} {{ harvest.produce.name }} {{ harvest.weight }} {{harvest.unit_name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <p><a href="{% url 'plant_harvest' plant.id %}">history</a></p>
</fieldset>
</form>

<form action="{% url 'new_prune' plant.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>Prune</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table class="formtable">
        <tr>
            <th class="formtableheader">
                <label for="prune_text">Text</label>
            </th>
            <td>
                <input type="text" name="prune_text" id="prune_text" />
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="Record">
            </th>
        </tr>
    </table>
{% if latest_prune_list %}
    <ul>
    {% for prune in latest_prune_list %}
        <li><a href="{% url 'prune' prune.id %}">{{ prune.datetime }} {{prune.text }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <p><a href="{% url 'plant_prune' plant.id %}">history</a></p>
</fieldset>
</form>
{% endblock %}
