{% extends "plantiful/base.html" %}

{% block title %}Plant {{ plant.id }} Harvest{% endblock %}

{% block content %}
<h1>Plant {{ plant.id }} Harvest</h2>

<ul>
{% for produce, harvest in plant_harvests.items %}
    <li>{{ produce }}: {{ harvests|length }}
    {%  for harvest in harvests %}
        <ul>
            <li><a href="{% url 'harvest' harvest.id %}">{{ harvest.datetime }}</a> {{ harvest.weight }} {{ harvest.unit_name }}</li>
    {%  endfor %}
        </ul>
    </li>
{% endfor %}
</ul>


{% endblock %}
